<?xml version="1.0"?>
<!-- created with Phobos 1.0.1 "Capricious Choutengan" -->
  <robot name="spot_welding_gun">

    <link name="ee_joint_arm">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.001"/>
        <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
    </link>

    <link name="nozzle_tip">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.001"/>
        <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
    </link>

    <link name="root">
      <inertial>
        <origin xyz="0.5057 -0.00054 0.18351" rpy="0 0 0"/>
        <mass value="2.0"/>
        <inertia ixx="0.03586" ixy="-0.0351" ixz="-0.00028" iyy="0.17402" iyz="7e-05" izz="0.14205"/>
      </inertial>
      <visual name="RFC-22-G01 v2">
        <origin xyz="0.39949 0 0.14487" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/stl/RFC-22-G01 v2.stl" scale="0.00116 0.00116 0.00116"/>
        </geometry>
        <material name="grey">
          <color rgba="0.670588235 0.670588235 0.670588235 1.0"/>
        </material>
      </visual>
      <collision name="RFC-22-G01 v2.000">
        <origin xyz="0.39946 -0.00043 0.14496" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/stl/RFC-22-G01 v2.001.stl" scale="0.78991 0.78991 0.78991"/>
        </geometry>
      </collision>
    </link>

    <joint name="ee_joint_arm" type="fixed">
      <origin xyz="-0.00372 -0.00266 0.00071" rpy="0 1.5708 0"/>
      <parent link="root"/>
      <child link="ee_joint_arm"/>
    </joint>

    <joint name="nozzle_tip" type="fixed">
      <origin xyz="0.67936 0 0.00043" rpy="0 1.5708 0"/>
      <parent link="root"/>
      <child link="nozzle_tip"/>
    </joint>

  </robot>
